<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>{{ with .Title }}{{ . }}{{ else }}Arrower E2E{{ end }}</title>
    <link rel="stylesheet" href="static/css/main.css" />
    {{ block "layout.css" . }}{{ end }}
    {{ block "page.css" . }}{{ end }}
    <script src="static/js/modules/htmx.min.js"></script>
    <script src="static/js/modules/head-support.min.js"></script>
    <script src="static/js/modules/preload.min.js"></script>
    <script src="static/js/modules/multi-swap.min.js"></script>
    {{ block "layout.js" . }}{{ end }}
    {{ block "page.js" . }}{{ end }}
  </head>
  <body hx-boost="true" hx-ext="head-support,preload" class="h-full">
    {{ block "layout" . }}
      <main>
        {{ block "content" . }}
          E2E harness: content block not defined.
        {{ end }}
      </main>
    {{ end }}
  </body>
</html>
