<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <title>{{ .Name }}</title>
    <meta name="description" content="{{ .Name }}" />
    <meta name="keywords" content="{{ .Name }}" />

    <link
      rel="icon"
      href="static/icons/96x96.png"
      sizes="96x96"
      type="image/png"
    />
    <link rel="icon" href="static/icons/favicon.ico" sizes="32x32" />
    <link
      rel="apple-touch-icon"
      href="static/icons/apple-touch-icon.png"
      sizes="180x180"
    />

    <link rel="manifest" href="static/manifest.json" />

    <link rel="stylesheet" href="static/css/main.css" />

    <script src="static/js/modules/htmx.min.js"></script>
    <script src="static/js/modules/head-support.min.js"></script>
    <script src="static/js/modules/preload.min.js"></script>
    <script src="static/js/modules/multi-swap.min.js"></script>
  </head>
  <body hx-boost="true" hx-ext="head-support,preload" class="h-full" preload>
    {{ "{{" }} block "layout" . {{ "}}" }}
      <main>
        {{ "{{" }} block "content" . {{ "}}" }}
          Fallback, if "content" is not defined elsewhere
        {{ "{{" }} end {{ "}}" }}
      </main>
    {{ "{{" }} end {{ "}}" }}
  </body>
</html>
