version: '3.8'

services:
  # direct dependencies
  postgres:
    image: ghcr.io/go-arrower/postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: arrower
      POSTGRES_PASSWORD: secret
      # Set the locale, see: https://stackoverflow.com/a/28406007
      LANG: en_US.UTF-8
      LANGUAGE: en_US:en
      LC_ALL: en_US.UTF-8

  # observability
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./conf/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--enable-feature=exemplar-storage' # to link from metrics to traces via OpenMetrics
    ports:
      - "9090:9090"
    extra_hosts: # enable container to access host, so it can scape locally running applications, see: https://stackoverflow.com/a/68106309
      host.docker.internal: host-gateway

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./conf/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo-data:/tmp/tempo
    ports:
      - "4317:4317"  # otlp grpc

  grafana:
    image: grafana/grafana
    # default admin user credentials are admin/admin.
    ports:
      - "3000:3000"
    volumes:
      - ./conf/grafana/:/etc/grafana/provisioning/datasources
      - grafana-data:/var/lib/grafana
    depends_on:
      - loki
      - prometheus
      - tempo

  # development helper services
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8081:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: root@localhost.tld
      PGADMIN_DEFAULT_PASSWORD: secret
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    links:
      - postgres:postgres
    depends_on:
      - postgres

volumes:
  postgres-data:
  pgadmin-data:
  prometheus-data:
  tempo-data:
  grafana-data:
  # TODO add loki data
