package web

import (
	"net/http"

	"github.com/labstack/echo/v4"
)

func New{{ .Name }}Controller() *{{ .Name }}Controller {
	return &{{ .Name }}Controller{}
}

type {{ .Name }}Controller struct{}

func (ctrl *{{ .Name }}Controller) Index() func(echo.Context) error {
	return func(c echo.Context) error {
		return c.Render(http.StatusOK, "home", nil)
	}
}
