{{ define "admin.title" }}Routes{{ end }}


<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Method</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    {{ range .Routes }}
      <tr class="group" style="color: {{ .Colour }}">
        <td>
          {{ if and (eq .Method "GET") (not .HasParams) }}
            <a href="{{ .Path }}">{{ .Path }}</a>
          {{ else }}
            {{ .Path }}
          {{ end }}
        </td>
        <td>{{ .Method }}</td>
        <td
          {{ if (contains ".func" .Name) }}
                class="invisible group-hover:visible"
          {{ end }}
        >
          {{ .Name }}
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
