{{ define "admin.title" }}Welcome to the Arrower Admin Dashboard{{ end }} {{/*
see: https://stackoverflow.com/a/31513163 */}} {{/* margins are still an issue,
see comment in link above */}}
<iframe
  src="/admin/charts/users"
  onload='javascript:(function(o){
      o.style.height=o.contentWindow.document.body.scrollHeight+"px";
      o.style.width=o.contentWindow.document.body.scrollWidth+"px";
  }(this));'
  style="height: 1px; width: 1px; border: none; overflow: hidden"
  scrolling="no"
></iframe>
