{{ define "admin.title" }}Queue: {{ .QueueName }}{{ end }}
{{ define "page.js" }}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"
    integrity="sha512-VdqgeoWrVJcsDXFlQEKqE5MyhaIgB9yXUVaiUa8DR2J4Lr1uWcFm+ZH/YnzV5WqgKf4GPyHQ64vVLgzqGIchyw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
{{ end }}


<div
  hx-ext="multi-swap"
  hx-get="{{ route "admin.jobs.queue" .QueueName }}"
  hx-trigger="every 1s"
  hx-swap="multi:#statistics,#jobs"
>
  <div class="flex flex-col lg:flex-row">
    <div
      id="job_types"
      class="my-0{{ if eq .Stats.PendingJobs 0 }}
        invisible
      {{ end }} mx-4 h-36 grow p-0"
    ></div>

    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pending</th>
            <th scope="col">Workers</th>
            <th scope="col">Failed</th>
            <th scope="col">Error Rate</th>
            <th scope="col">Average time per Job</th>
            <th scope="col">Estimate until empty</th>
          </tr>
        </thead>
        <tbody id="statistics">
          <tr class="border-none">
            <td>{{ .Stats.PendingJobs }}</td>
            <td>{{ .Stats.AvailableWorkers }}</td>
            <td>
              {{ if ne 0 .Stats.PendingJobs }}{{ .Stats.FailedJobs }}{{ end }}
            </td>
            <td>
              {{ if ne 0 .Stats.PendingJobs }}
                {{ .Stats.PendingJobsErrorRate }}%
              {{ end }}
            </td>
            <td>{{ .Stats.AverageTimePerJob }}</td>
            <td>
              {{ if ne 0 .Stats.PendingJobs }}
                {{ .Stats.EstimateUntilEmpty }}
              {{ end }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mt-16 overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Payload</th>
        <th scope="col">Run At</th>
        <th scope="col">Error Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="jobs">
      {{ range .Jobs }}
        <tr hx-disinherit="*">
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}"
          >
            <a href="{{ route "admin.jobs.job.show" .ID }}">{{ .ID }}</a>
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}"
          >
            {{ .Type }}
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}"
          >
            {{ .Priority }}
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}break-all"
          >
            <pre
              class="whitespace-pre-wrap rounded p-1 hover:bg-neutral hover:text-neutral-content"
            >
{{ .Payload }}</pre
            >
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}"
          >
            {{ .RunAtFmt }}
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}"
            title="{{ .LastError }}"
          >
            {{ .ErrorCount }}
          </td>
          <td
            class="{{ if ge .ErrorCount 16 }}
              bg-warning text-warning-content
            {{ end }}align-top"
          >
            <div class="flex">
              <span class="hover:text-success" title="Run now">
                <a href="{{ route "admin.jobs.reschedule" .Queue .ID }}">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
                    />
                  </svg>
                </a>
              </span>
              {{ if ge .ErrorCount 0 }}
                <span title="Logs">
                  <a
                    href="{{ route "admin.logs" }}?level=DEBUG&range=15&k0=jobID&f0={{ .ID }}"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
                      />
                    </svg>
                  </a>
                </span>
              {{ end }}
              <span class="hover:text-error" title="Delete">
                <a href="{{ route "admin.jobs.delete" .Queue .ID }}">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </a>
              </span>
            </div>
          </td>
        </tr>
      {{ else }}
        <tr class="border-none">
          <td colspan="7" class="text-center">No Jobs pending.</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<script type="text/javascript">
    // Create the echarts instance
    var myChart = echarts.init(document.getElementById('job_types'));
    // Draw the chart
    myChart.setOption({
        tooltip: {
            trigger: 'item',
            formatter: '<b>{b}</b>: {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            selectedMode: false,
            data: [
                {{ range $key, $value := .Stats.PendingJobsPerType }}
                '{{ $key }}',
                {{ end }}
            ]
        },
        series: [
            {
                type: 'pie',
                //radius: '30%',
                //center: ['60%', '50%'],
                data: [
                    {{ range $key, $value := .Stats.PendingJobsPerType }}
                    {
                        name: {{ $key }},
                        value: {{ $value }}
                    },
                    {{ end }}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    });
</script>
