{{ define "admin.title" }}User {{ .User.Name.DisplayName }}{{ end }}

<div class="flex space-x-4">
  <div>
    {{ if .ProfilePictureURL }}
    <img src="{{ .ProfilePictureURL }}" alt="profile picture" />
    {{ else }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-32 w-32"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
      />
    </svg>
    {{ end }}
  </div>
  <div>
    <div>
      <span>Firstname</span>
      <span>{{ .User.Name.FirstName }}</span>
    </div>
    <div>
      <span>Lastname</span>
      <span>{{ .User.Name.LastName }}</span>
    </div>
    <div>
      <span>Name</span>
      <span>{{ .User.Name.DisplayName }}</span>
    </div>
    <div>
      <span>Birthday</span>
      <span>{{ .User.Birthday }}</span>
    </div>
  </div>
  <div>
    <div>
      <span>Login</span>
      <span>{{ .User.Login }}</span>
    </div>
    <div>
      <span>Locale</span>
      <span>{{ .User.Locale }}</span>
    </div>
    <div>
      <span>TimeZone</span>
      <span>{{ .User.TimeZone }}</span>
    </div>
  </div>
</div>

<div class="mt-6">
  <h2>Profile</h2>

  <table class="table-auto">
    {{ range $k, $v := .User.Profile }}
    <tr>
      <td>{{ $k }}</td>
      <td>{{ $v }}</td>
    </tr>
    {{ end }}
  </table>
</div>

<div class="mt-6">
  <h2>Sessions</h2>
  <table class="table-auto border-collapse border text-left">
    <thead class="bg-gray-100">
      <tr>
        <th scope="col" class="border border-slate-300 p-1">Device</th>
        <th scope="col" class="border border-slate-300 p-1">ExpiresAt</th>
        <th scope="col" class="border border-slate-300 p-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ $userID := .User.ID }} {{ range .User.Sessions }}
      <tr class="odd:bg-white even:bg-slate-50">
        <td class="p-1">{{ .Device.Name }}, {{ .Device.OS }}</td>
        <td class="p-1">{{ .ExpiresAt }}</td>
        <td class="p-1">
          <a href="/admin/auth/users/{{ $userID }}/sessions/{{ .ID }}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </a>
        </td>
      </tr>
      {{ else }}
      <tr>
        <td colspan="3">No Sessions</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>

<div class="mt-6">
  <h2>Audit Log</h2>
</div>

<div class="mt-6 text-red-600">
  DANGER ZONE
  <br />
  Delete User
</div>
