on: [push, pull_request]
name: Automatic Tests

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - run: go version
      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.1
          args: --timeout=5m

  security-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - uses: golang/govulncheck-action@v1


  unit-test:
    strategy:
      matrix:
        go: [1.20.x]
        os: [ubuntu-latest] # macos-latest & windows-latest fail for arrower cli tests
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Unit Tests
        run: |
          go test ./...
          go test -race ./...

  integration-test:
    strategy:
      matrix:
        go: [1.20.x]
        os: [ ubuntu-latest ] # macos-latest & windows-latest fail for arrower cli tests
    runs-on: ${{ matrix.os }}
    services:
      dind:
        image: docker:23.0-rc-dind-rootless
        ports:
          - 2375:2375
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Integration tests with Docker
        run: go test -race --tags="integration" ./...