on: [push, pull_request]
name: Automatic Tests

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - run: go version
      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.1


  unit-test:
    strategy:
      matrix:
        go: [1.19.x, 1.20.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Unit Tests
        run: |
          go test ./...
          go test -race ./...