on:
  workflow_dispatch:
name: Clear Cache

jobs:
  clear-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Clear caches
        uses: easimon/wipe-cache@main
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
